.d2l-htmlapp-loading {
	padding:50px;
	background-image:url(/d2l/img/lp/loading_lg.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:100%;
}

.umd_spinner img{
    position: absolute;
    top:-100%; right:-100%; left:-100%; bottom:-100%;
    margin:auto;
    z-index:0;
	animation: umd_spin_spinner 1.3s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
	-webkit-animation: umd_spin_spinner 1.3s cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite;
}
@keyframes umd_spin_spinner {
	100% { 
		transform:rotate(360deg);
	}
}
@-webkit-keyframes umd_spin_spinner {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.umd_spinner_container {
	height: 400px;
	width: 100%;
	display: none;
	position: relative;
}.immersive-full-page-open .d2l-fra-iframe > iframe {
	height: 100vh !important;
	max-height: 100vh !important;
}

body.immersive-full-page-open {
	overflow: hidden;
}